.center {
    display: block;
    text-align: center;
}

h1 {
    display: block;
    padding: 30px;
    padding-top: 60px;
    font-size: 60px;
}

.feature {
    display: inline-block;
    background-color: forestgreen;
    padding: 60px 100px;
    margin: 10px;
    font-size: 20px;
    color: white;
}

.break-30 {
    padding: 30px;
}

.newsbox-title, .newsbox-bottom {
    font-size: 28px;
    display: block;
    padding: 20px;
    background-color: #FFC107;
    height: 20px;
    line-height: 20px;
}

.newsbox .news td {
    vertical-align: top;
}

.news-info-block {
    background-color: #AFFF8E;
    padding: 20px;
    width: 80px;
    text-align: center;
}

.newsbox table {
    border-spacing: 0 20px;
}

.news-title {
    top: 0;
    font-weight: 800;
    font-size: large;
}

.news-author {
    font-size: small;
}

.news-text {
    padding-left: 20px;
}

.newsbox-bottom {
    font-size: 15px;
}

.newsbox-bottom a {
    color: black;
}

.newsbox-bottom a:hover {
    color: darkgreen;
}
