.center {
    display: block;
    text-align: center;
}

h1 {
    display: block;
    padding: 30px;
    padding-top: 60px;
    font-size: 60px;
}

.feature {
    display: inline-block;
    background-color: forestgreen;
    padding: 60px 100px;
    margin: 10px;
    font-size: 20px;
    color: white;
}

.break-30 {
    padding: 30px;
}

.newsbox-title, .newsbox-bottom {
    font-size: 28px;
    display: block;
    padding: 20px;
    background-color: #FFC107;
    height: 20px;
    line-height: 20px;
}

.newsbox .news {
    position: relative;
    padding: 20px;
    margin: 10px;
    text-align: left;
}

.news-info-block {
    background-color: #AFFF8E;
    display: inline-block;
    padding: 20px;
}

.news-title {
    top: 0;
    font-weight: 800;
    font-size: large;
}

.news-author {
    font-size: small;
}

.news-text {
    position: absolute;
    display: inline-block;
    padding-left: 20px;
}

